<!DOCTYPE html>
<html>
<head>
  <title>Raccount</title>
<%=
  ##stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/djime-cerulean/style", "web-app-theme/override", :cache => true
  #javascript_include_tag :defaults, :cache => true
  #csrf_meta_tag
%>
  
  <link rel="stylesheet" type="text/css" href="/javascripts/extjs/resources/css/ext-all.css" />
  <link rel="stylesheet" type="text/css" href="/javascripts/ux/RowEditor.css" />
  <script type="text/javascript" src="/javascripts/extjs/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="/javascripts/extjs/ext-all.js"></script>
  <script type="text/javascript" src="/javascripts/ux/RowEditor.js"></script>
  <script type="text/javascript" src="/javascripts/ux/TabCloseMenu.js"></script>
  <!--
  <link rel="stylesheet" type="text/css" href="/javascripts/extjs4/resources/css/ext-all.css" />
  <script type="text/javascript" src="/javascripts/extjs4/bootstrap.js"></script>
  -->
</head>
<body>
  <%= yield %>
<!--
  <%= debug(params) if Rails.env.development? %>
  <%= debug(session) if Rails.env.development? %>
-->
</body>
</html>
